.footer {
    background-color: $color-grey-dark-2;
    padding: 3rem 0 1rem 0;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__copywrite {
        color: $color-white;
        padding: 1rem;
    }
}