.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .2s;

    &__icon {
        display: inline-block;
        font-size: 6rem;
        margin-bottom: 3rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.section-features {
    margin-top: -10rem; 
    padding: 20rem 0rem;
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.8),
        rgba($color-primary-light, 0.8)),
        url('../img/weddingParty.jpg');
    background-size: cover;
    background-position: center;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}